<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag("fiji_logo.png", alt: "FIJI Tau Kappa", size:"40")%>
          <%= link_to "Phi Gamma Delta", "/", id: "logo" %>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Chapter",    chapter_path %></li>
        <li><%= link_to "Brothers",   brothers_path %></li>
        <li><%= link_to "Alumni",   alumni_path %></li>
        <li><%= link_to "Login",    "/"%></li>
      </ul>

    </div>
  </nav>
</header>