<header>
  <div class="container">

    <%= image_tag("logo.png", :alt => "FIJI Tau Kappa") %>

    <%= link_to "Phi Gamma Delta", '#', id: "logotext" %>

    <nav>
      <ul>
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "About Us",   '#' %></li>
        <li><%= link_to "Chapter",   '#' %></li>
        <li><%= link_to "Brothers", '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>


  </div>
</header>